
.page-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-container {
    height: 100%;
    width: 80%;
}




.checkout-container {
    height: 100%;
    width: 20%;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    
}

.checkout-container > div {
    margin: 20px;
    font-size: 1.5rem;
    /*position: sticky;*/
}